<div class="menu-wrapper pure-u-1" id="menu">
    <div class="pure-u-1 pure-u-sm-1-3 custom-heading">
            <a href="/user/<%= id %>" class="pure-menu-heading">Ilmoittautuminen</a>
    </div>

    <div class="pure-u-1 pure-u-sm-2-3">
        <div class="pure-menu pure-menu-horizontal custom-can-transform">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/arrival" class="pure-menu-link">Saapuminen</a></li>
                <li class="pure-menu-item"><a href="/venue" class="pure-menu-link">Juhlapaikka</a></li>
                <li class="pure-menu-item"><a href="/program" class="pure-menu-link">Ohjelma</a></li>
                <li class="pure-menu-item"><a href="/wishlist" class="pure-menu-link">Lahjalista</a></li>
            </ul>
        </div>
    </div>
</div>