<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
    <ul>
    <% registerations.forEach(function (registeration){ %>
        <li><%= registeration %></li>
    <%}) %>
    </ul>
    <a class="pure-button" href="registerations/new">Uusi rekisteröityminen</a>

</body>
</html>
