<!DOCTYPE html>
<html>
<%- include('head')-%>
<body>
<form class="pure-form pure-form-stacked" action="register" method="post">
    <fieldset>
        <label for="username">Käyttäjätunnus</label>
        <input id="username" name="username" type="text" placeholder="Käyttäjätunnus">

        <label for="password">Salasana</label>
        <input id="password" name="password" type="password" placeholder="Salasana">

        <button type="submit" class="pure-button pure-button-primary">Rekisteröidy</button>
    </fieldset>
</form>
</body>
</html>
